<div class="container mt-4">

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Játékok</h2>

    <button class="btn btn-primary" (click)="newGame()">
      Új játék
    </button>
  </div>

  <div *ngFor="let game of games" class="card mb-2 p-3">
    <h5>{{ game.teamNames.join(' --vs-- ') }}</h5>
    <p class="mb-2">{{ game.statusText }}</p>
    <button class="btn btn-outline-success btn-sm" (click)="openGame(game.id)">
      Megnyitás
    </button>

    <button class="btn btn-outline-danger btn-sm" (click)="deleteGame(game.id)">
      Törlés
    </button> 
  </div>

</div>
