.canasta-title {
  text-align: center;
  margin: 25px 0;
  font-size: 2.6rem;
  font-weight: 700;
  color: #0056d6;
  letter-spacing: 1.5px;

  transition: transform 0.15s ease, color 0.2s;
  cursor: pointer;
  user-select: none;

  &:hover {
    transform: scale(1.04);
    color: #003c99;
  }
}
